* {
  margin: 0%;
  padding: 0%; }

@font-face {
  font-family: Font-1;
  src: url("../Fonts/Motorblock.ttf"); }

@font-face {
  font-family: Font-2;
  src: url("../Fonts/Squarea Regular.ttf"); }

.Telling1 {
  color: #a8a378; }

.Telling2, .Telling3 {
  color: #e6d432; }

.Telling3 {
  color: #ffec40; }

.Body-Pad {
  padding-top: 50px; }

.NavDiv {
  margin: 20px; }

.TitleIMG {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.CarouselDiv {
  background-color: rgba(0, 0, 0, 0.2); }

.HeaderContent1 {
  width: auto;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px; }

.Main_Nav {
  margin-top: 20px; }

.Logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  animation-name: Logo_Loop;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 1s; }

@keyframes Logo_Loop {
  0% {
    transform: rotateY(0deg); }
  50% {
    transform: rotateY(90deg); } }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

li {
  font-family: Font-2;
  font-size: 20px;
  font-weight: bold; }

body {
  background-image: url(../images/Background.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative; }

h1 {
  font-family: Font-1;
  font-size: 45px;
  color: #f2d518;
  margin: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.BackC {
  background-color: rgba(255, 255, 255, 0.5); }

.Title {
  font-family: Font-2;
  font-size: 45px;
  color: #f2d518;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px; }

.Cover {
  margin: 20px;
  width: 95%; }

#History {
  display: flex;
  flex-direction: row;
  justify-content: center; }

#Competition {
  display: flex;
  flex-direction: row;
  justify-content: center; }

#Models {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.Paragraph {
  font-family: Font-2;
  color: #f2d518;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center; }

.Card_Principal {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: stretch;
  align-content: center; }

.Border {
  background-color: rgba(19, 19, 19, 0.9);
  width: auto;
  height: auto;
  border: solid 2px black;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  transition: transform 0.5s; }

article p {
  color: #a8a378;
  font-family: Squarea;
  margin-top: 20px;
  text-align: center; }

.Content__Cover {
  width: 400px;
  padding: 5px;
  border-radius: 15px;
  border: solid 2px black;
  background-color: #333333; }

.Border:hover {
  transform: scale(1.2, 1.2); }

.Icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px; }

#ImgDiablo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px; }

#ImgMurcielago {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px; }

#ImgReventon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px; }

.Card_Principal2 {
  height: 250px;
  transition: transform 0.2s; }

img {
  height: 100% !important;
  width: auto; }

.Img-Article {
  height: 200px; }

.Card_Principal2:hover {
  transform: scale(1.7, 1.7); }

.Telling1 {
  color: #a8a378; }

.Telling2, .Telling3 {
  color: #e6d432; }

.Telling3 {
  color: #ffec40; }

#NFS {
  display: flex;
  flex-direction: row;
  justify-content: center; }

#GTA5 {
  display: flex;
  flex-direction: row;
  justify-content: center; }

#GT {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.Content2 {
  text-align: center;
  color: #a8a378; }

.VidVideo {
  border: 0;
  width: 100%;
  aspect-ratio: 16 / 9; }

.Backs h2, .Back h2 {
  font-family: Font-2;
  font-size: 30px;
  color: #f2d518;
  margin: 15px; }

.Backs article, .Back article {
  background-color: #333333;
  padding: 5px;
  border: solid 2px black;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .Backs article:hover, .Back article:hover {
    background-color: red; }

.Telling2, .Telling3 {
  font-family: Font-2; }

.Telling3 {
  font-size: 20px; }

.Back {
  margin-bottom: 20px; }

article {
  padding: 20px;
  margin-bottom: 20px;
  text-align: center; }

#VidDiablo {
  display: flex;
  flex-direction: row;
  justify-content: center; }

#VidMurcielago {
  display: flex;
  flex-direction: row;
  justify-content: center; }

#VidReventon {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.top {
  background-color: rgba(0, 0, 0, 0.8);
  padding-bottom: 20px; }

.mid {
  background-color: rgba(44, 44, 44, 0.9); }

.bot {
  background-color: black;
  color: #4b4b4b; }

.Final {
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 10px; }

.Formulary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px; }

.Check {
  margin-left: 10px;
  margin-right: 10px; }

.Contact__Section {
  margin-top: 10px;
  margin-bottom: 10px; }

.Mini_Logo {
  animation-name: MiniLogo;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 2s; }

@keyframes MiniLogo {
  0% {
    transform: rotateY(0deg); }
  50% {
    transform: rotateY(90deg); } }
