/*agregado*/
@font-face {
  font-family: Font-1;
  src: url("../Fonts/Motorblock.ttf"); }

@font-face {
  font-family: Font-2;
  src: url("../Fonts/Squarea Regular.ttf"); }

h1 {
  font-family: Font-1;
  font-size: 45px;
  color: #f2d518;
  margin: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.Back h2 {
  font-family: Font-2;
  font-size: 30px;
  color: #f2d518;
  margin: 15px; }

.Back article {
  padding: 5px;
  border: solid 2px black;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .Back article:hover {
    background-color: red; }

/*agregado*/
.HeaderContent1 {
  width: auto;
  height: auto;
  margin: 10px;
  padding: 10px; }

/*agregado*/
.top {
  background-color: rgba(0, 0, 0, 0.8); }

.mid {
  background-color: rgba(44, 44, 44, 0.9); }

.bot {
  background-color: black;
  color: white; }
