*{
    margin: 0%;
    padding: 0%;
}

@font-face{
    font-family: Motorblock;
    src: url("../Fonts/Motorblock.ttf");
}

@font-face{
    font-family: Squarea;
    src: url("../Fonts/Squarea\ Regular.ttf");
}

/*CSS Principal y del index*/

.Icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.Logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    animation-name: Logo_Loop;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}

body{
    background-image: url(../images/Background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
}

#MainTitle{
    font-family: Motorblock;
    font-size: 60px;
    color: #f2d518;
    margin: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Main_Nav{
    margin-top: 20px;
}

.Ul1{
    margin: 10px;
    display: flex;
    flex-direction: row;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

li{
    font-family: Squarea;
    font-size: 20px;
    font-weight: bold;
}

#History{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#Competition{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#Models{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Title{
    font-family: Squarea;
    font-size: 30px;
    color: #f2d518;
    display: flex;
    flex-direction: row;
    margin: 15px;
}

article p{
    color: #f2d518;
    font-family: Squarea;
}

.Cover{
    background-color: rgba(51, 51, 51, 0.9);
    margin: 10px;
    width: 95%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.Border{
    background-color: rgba(51, 51, 51, 0.9);
    width: auto;
    height: auto;
    border: solid 3px black;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    transition: transform 0.5s;
}

.Card_Principal{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: stretch;
    align-content: center;
}

.Paragraph{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.Content__Cover{
    width: 500px;
    padding: 5px;
    border-radius: 15px;
    border: solid 1px black;
}

footer{
    margin-top: 60px;
}

.FootImg{
    margin-top: 30px;
    margin-bottom: 30px;
}

.Colors{
    margin: 15px;
    animation-name: h3_animations;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 2s;
    border: solid 3px black;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
}

/*CSS de los demas html*/

.Secundary__Title{
    font-family: Motorblock;
    font-size: 45px;
    color: #f2d518;
    margin: 15px;
    margin: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#VidDiablo{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Content{
    background-color: #333333;
    padding: 5px;
    border: solid 1px black;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Content2{
    background-color: rgba(51, 51, 51, 0.9);
    text-align: center;
    margin: 15px;
}

#VidMurcielago{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#VidReventon{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Ul3{
    margin-left: 68rem;
}

#NFS{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#GTA5{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#GT{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#ImgDiablo{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#ImgMurcielago{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#ImgReventon{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Ul5{
    margin-left: 1350px;
}

.Formulary{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.Check{
    margin-left: 10px;
    margin-right: 10px;
}

.Contact__Section{
    margin-top: 10px;
    margin-bottom: 10px;
}

.Mini_Logo{
    animation-name: MiniLogo;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 2s;
}

/*Hovers & Animations*/

.Border:hover{
    transform: scale(1.2,1.2);
}

@keyframes Logo_Loop{
    0%{
        transform: rotateY(0deg);
    }
    50%{
        transform: rotateY(90deg);
    }
}

@keyframes MiniLogo{
    0%{
        transform: rotateY(0deg);
    }
    50%{
        transform: rotateY(90deg);
    }
}