@mixin Style($Section){
    @if $Section == head{
        background-color: rgba($color: #000000, $alpha: 0.8);
        padding-bottom: 20px;
    }
    @else if $Section == corp{
        background-color: rgba($color: #2c2c2c, $alpha: 0.9);
    }
    @else if $Section == last{
        background-color: black;
        color: rgb(75, 75, 75)
    }
}

@mixin Introduction{
    padding: $General-Padding;
    margin-bottom: $General-Margin;
    text-align: $C;
}

@mixin FRow{
    display: flex;
    flex-direction: row;
    justify-content: $C;
}

@mixin FCol{
    display: flex;
    flex-direction: column;
    justify-content: $C;
}