$Text-Color: #f2d518;

$General-Margin: 20px;
$General-Padding: 20px;

$Title-size: 45px;
$Title-Margin: 80px;

$Text-Size: 30px;
$Text-Margin: 15px;



$Border: solid 2px black;
$Border-Pad: 5px;
$Border-BColor: #333333;

$Video-Hover: red;

/*agregado*/

@font-face{
    font-family: Font-1;
    src: url("../Fonts/Motorblock.ttf")
}

@font-face{
    font-family: Font-2;
    src: url("../Fonts/Squarea\ Regular.ttf");
}

$A: auto;
$B: bold;
$N: none;
$C: center;
$S: start;
$E: end;