#ImgDiablo{
    @include FRow;
    margin-top: 50px;
}

#ImgMurcielago{
    @include FRow;
    margin-top: 50px;
}

#ImgReventon{
    @include FRow;
    margin-top: 50px;
}

.Card_Principal2{
    height: 250px;
    transition: transform 0.2s;
}

img{
    height: 100% !important;
    width: auto;
}

.Img-Article{
    height: 200px;
    
}

.Card_Principal2:hover{
    transform: scale(1.7,1.7);
}