.Backs{
    h2{
        font-family: Font-2;
        font-size: $Text-Size;
        color: $Text-Color;
        margin: $Text-Margin;
    }
    article{
        background-color: $Border-BColor;
        padding: $Border-Pad;
        border: $Border;
        @include FRow;
        &:hover{
            background-color: $Video-Hover;
        }
    }
}

.Telling2{
    font-family: Font-2;
}

.Telling3{
    @extend .Telling2;
    font-size: 20px;
}

.Back{
    @extend .Backs;
    margin-bottom: $General-Margin;
}

#MainTitle{
    @include FRow;
    font-family: Font-1;
    font-size: 60px;
    color: $Text-Color;
    margin: 80px;
}

article{
    @include Introduction;
}

#VidDiablo{
    @include FRow;
}

#VidMurcielago{
    @include FRow;
}

#VidReventon{
    @include FRow;
}

.top{
    @include Style(head);
}

.mid{
    @include Style(corp);
}

.bot{
    @include Style(last);
}

.Final{
    @include Introduction;
    font-size: 10px;
}